## for Loops

In [183]:
seq = [0,1,2,3,4]

In [184]:
seq

[0, 1, 2, 3, 4]

In [188]:
for item in seq:
    item_sq=item*item
    print(item_sq)

0
1
4
9
16

In [63]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [189]:
seq

[0, 1, 2, 3, 4]

In [190]:
for jelly in seq:
    print(jelly+jelly)

0
2
4
6
8

In [192]:
s='i am an indian'

In [193]:
s.split()

['i', 'am', 'an', 'indian']

In [196]:
for word in s.split():
    if(word[0]=='i'):
        print(word)

i
indian

In [201]:
for word in s.split():
    #print(word[0])
    if(word[0]=='i'):
        print(word)

i
indian

## while Loops

In [207]:
num = 1
while num == 1:
    print(num)
    num=num+1

1

## range()

In [216]:
range(2)

range(0, 2)

In [211]:
for i in range(3):
    print(i)

0
1
2

## list comprehension

In [235]:
x = [4,3,2,1]

In [237]:
x
#Desired output is [0,1,4,9]

[4, 3, 2, 1]

In [228]:
out = []
out

[]

In [233]:
out = []
for item in x:
    out.append(item**2)
print(out)

[0, 1, 4, 9]

In [238]:
out = []
for item in x[:2]:
    out.append(item**2)
print(out)

[16, 9]

In [231]:
[item**2 for item in x]

[0, 1, 4, 9]

## functions

In [247]:
def square(x):
    print(x)
    return x**2

In [246]:
square(2)

2

4

In [250]:
def add(x,y):
    print(x)
    print(y)
    return x+y

In [252]:
add(4,5)

4
5

9

In [ ]:
## methods

In [111]:
st = 'hello my name is Sam'

In [112]:
st.lower()

'hello my name is sam'

In [113]:
st.upper()

'HELLO MY NAME IS SAM'

In [103]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [104]:
tweet = 'Go Sports! #Sports'

In [106]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [107]:
tweet.split('#')[1]

'Sports'

In [253]:
d = {
  "brand": "Ford",
  "model": "Ecosport",
  "year": 1964
}

In [254]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [255]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'Ecosport'), ('year', 1964)])

In [256]:
d.values()

dict_values(['Ford', 'Ecosport', 1964])

In [257]:
d.update({'color':'red'})

In [258]:
d

{'brand': 'Ford', 'model': 'Ecosport', 'year': 1964, 'color': 'red'}

In [259]:
lst = [1,2,3]

In [260]:
lst.pop(0)

1

In [261]:
lst

[2, 3]

In [262]:
lst.pop()

3

In [263]:
lst

[2]