## Data types

### Numbers

In [6]:
1 + 1

2

In [63]:
1 * 3

3

In [8]:
1 / 2

0.5

In [64]:
10/2

5.0

In [67]:
2**4

16

In [71]:
5**6

15625

In [10]:
4 % 2

0

In [11]:
5 % 2

1

In [12]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [76]:
# Can not start with number or special characters
name_of_var = 2

In [93]:
test1=100

In [94]:
print(test1)

100

In [77]:
name_of_var

2

In [96]:
x = 2
y = 3
z = x + y
z

5

In [87]:
x=20

In [88]:
y=10

In [89]:
z = x + y

In [97]:
print(x)
print(y)
print(z)

2
3
5

### Strings

In [98]:
'single quotes'

'single quotes'

In [99]:
"double quotes"

'double quotes'

In [100]:
"hari's laptop is under repair"

"hari's laptop is under repair"

### Printing

In [20]:
x = 'hello'

In [21]:
x

'hello'

In [22]:
print(x)

hello

In [101]:
num = 12
name = 'Sam'

In [103]:
num='twelve'
name='Sam'

In [109]:
sen1='my name is '
name='Adam'

In [111]:
name='Siva'

In [129]:
#comments
num=21
name='ram'

In [134]:
print(num)
print(name)

21
ram

In [ ]:
my friend's name is sita and her num is 21
my friend's name is radha and her num is 33

In [141]:
locality='Koti'
work='Gachibowli'

In [142]:
print('I am from Hyderabad and I stay in {a} and I work in {b}'.format(a=locality,b=work))

I am from Hyderabad and I stay in Koti and I work in Gachibowli

In [145]:
print('I am from Hyderabad and I stay in {} and I work in {}'.format(locality,work))

I am from Hyderabad and I stay in Koti and I work in Gachibowli

### Lists
Ordered
Changeables
Allows duplicates

In [154]:
present=[1,2,4,5]

In [147]:
present

[1, 2, 4, 5]

In [ ]:
present[0] #get the first element of the list

In [153]:
present[-1] #get the last element of the list

5

In [155]:
marks=[20,30,45,56,89,92,21]

In [168]:
marks[0]

20

In [156]:
len(marks)#gets the length of the list

7

In [157]:
marks[-2]

92

In [158]:
marks[5]

92

In [159]:
school_ranks=[[1,2,3],[6,7,8]]

In [160]:
school_ranks

[[1, 2, 3], [6, 7, 8]]

In [172]:
school_ranks[1][2]

8

In [ ]:
school_marks[]

In [165]:
a=school_ranks[0]

In [166]:
a

[1, 2, 3]

In [167]:
a[2]

3