In [32]:
s="i am in hyderabad-secunderabad"

In [33]:
s.split()

['i', 'am', 'in', 'hyderabad-secunderabad']

In [31]:
s.split()[1]

'am'

In [41]:
s="I live in Hyderabad. What about you?"

In [36]:
s.split()

['I', 'live', 'in', 'Hyderabad.', 'What', 'about', 'you?']

In [42]:
s.split('.')

['I live in Hyderabad. What about', 'you?']

In [39]:
s="I live in Hyderabad. I play cricket. I watch movies"

In [40]:
s.split('.')[2]

' I watch movies'

In [43]:
#Check if there is word Hyderabad in a sentence
s = "I live in Hyderabad"

In [47]:
s.split()

['I', 'live', 'in', 'Hyderabad']

In [58]:
if 'Hyderabad' in s.split():
    print('yes')
else:
    print('no')

no

In [57]:
if 'hyderabad' in s.split():
    print("yes it's there")
else:
    print('no')

yes it's there

In [88]:
names='sravan,SHYAM,ram,Ramesh'

In [66]:
names

'sravan, SHYAM, ram, Ramesh'

In [89]:
names_small=names.lower()

In [90]:
names_small

'sravan,shyam,ram,ramesh'

In [91]:
names_small_letters=names.lower().split(',')

In [92]:
names_split=names_small.split(',')

In [93]:
names_split

['sravan', 'shyam', 'ram', 'ramesh']

In [98]:
names

'sravan,SHYAM,ram,Ramesh'

In [106]:
if 'sravan' in names():
    print('yes')
else:
    print('no')

yes

In [55]:
if 'ramesh' in s.lower().split():
    print('yes')
else:
    print('no')

yes

### Dictionaries
Unordered
Changeable
Does not allow duplicates

In [37]:
d = {'key1':'item1','key2':'item2'}

In [38]:
d

{'key1': 'item1', 'key2': 'item2'}

In [39]:
d['key1']

'item1'

In [108]:
thisdict = {
  "brand": "Ford",
  "model": "Ecosport",
  "year": 1964
}

In [110]:
thisdict['year']

1964

In [144]:
thisdict = {
  "brand": "Ford",
  "model": "Ecosport",
  "year": 1964,
  "brand":"Maruti",
    "year":2020,
    "owner_name":"Keerthi"
}

In [131]:
thisdict.keys()

dict_keys(['brand', 'model', 'year', 'owner_name'])

In [123]:
thisdict['year']

2020

In [115]:
thisdict['model']

'Maruti'

In [113]:
print(len(thisdict))

3

In [139]:
thisdict = {
  "brand": "Ford",
  "model": "Ecosport",
  "year": 1964,
  "color":['red','black','black']
}

In [141]:
thisdict['color']

'red'

### Booleans

In [40]:
True

True

In [143]:
if 1==2:
    print('they are equal')
else:
    print('not equal')

not equal

In [41]:
False

False

In [147]:
a='I am in Hyd-sec, i work in hitec city. my native is bangalore'

### Tuples 
Ordered
Not changeable
Allows duplicates

In [151]:
t = (1,2,3)

In [152]:
t

(1, 2, 3)

In [153]:
t[0]

1

In [154]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets
Unordered
Unindexed
No duplicates

In [155]:
{1,2,3}

{1, 2, 3}

In [156]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [158]:
1 > 2

False

In [157]:
1==1

True

In [159]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [160]:
'hi' == 'bye'

False

## Logic Operators

In [53]:
(1 > 2) and (2 < 3)

False

In [54]:
(1 > 2) or (2 < 3)

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [56]:
if 1 < 2:
    print('Yep!')

Yep!

In [162]:
if 1 > 2:
    print('Yep!')

In [163]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [59]:
if 1 > 2:
    print('first')
else:
    print('last')

last